:root{
    scroll-padding-top: 73px;
    --frist:#343434;
    --Second:#ffffff;
    font-family: "Montserrat", sans-serif;
   
}
#header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) ,url(../img/imgs/bg.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-attachment: scroll;
    
}
.textxx{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 40px;

}
#services p{
    font-family: "Montserrat", sans-serif;
font-weight: 400;
}
#services h5{
    font-family: "Montserrat", sans-serif;
font-weight: 800;
font-size: 18px;

}
#team p{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;

}
#services i{
    margin-bottom: 15px;
}
#Portfolio{
    background-color: #F7F7F7;
}
#header i{
    width: 25px;
    height: 25px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    -webkit-border-radius:50%;
    cursor: pointer;
    
}
.ztop{
    z-index: 1000;
}
#header h3::after{
    content: ' ';
    position: relative;
    animation-name: header-animation ;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function:step-end;
    font-weight: 500;
}
@keyframes header-animation {
0% {content: "|";}
2.5% {content: "L|";}
4.5% {content: "La|";}
6.5% {content: "Larr|";}
9.5% {content: "Larry|";}
12.5% {content: "Larry D|";}
13.5% {content: "Larry Da|";}
15.5% {content: "Larry Dan|";}
19.5% {content: "Larry Dani|";}
21.5% {content: "Larry Danie|";}
23.5% {content: "Larry Daniel|";}
25.5% {content: "Larry Daniels|";}
27.5% {content: "Larry Daniels|";}
29.5% {content: "Larry Daniel|";}
31.5% {content: "Larry Danie|";}
33.5% {content: "Larry Dani|";}
35.5% {content: "Larry Dan|";}
37.5% {content: "Larry Da|";}
39.5% {content: "Larry D|";}
41.5% {content: "Larry|";}
43.5% {content: "Larr|";}
45.5% {content: "Lar|";}
47.5% {content: "La|";}
49.5% {content: "L|";}
51.5% {content: "D|";}
53.5% {content: "De|";}
55.5% {content: "Dev|";}
57.5% {content: "Deve|";}
59.5% {content: "Devel|";}
61.5% {content: "Develo|";}
63.5% {content: "Develop|";}
65.5% {content: "Developer|";}
67.5% {content: "Develope|";}
69.5% {content: "Develop|";}
71.5% {content: "Develo|";}
73.5% {content: "Devel|";}
75.5% {content: "Deve|";}
77.5% {content: "Dev|";}
79.5% {content: "De|";}
81.5% {content: "D|";}
83.5% {content: "De|";}
84.5% {content: "Des|"}
85.5% {content: "Desi|"}
86.5% {content: "Desig|"}
87.5% {content: "Design|"}
88.5% {content: "Designe|"}
89.5% {content: "Designer|"}
90.5% {content: "Designe|"}
92% {content: "Design|"}
93% {content: "Desig|"}
94% {content: "Desi|"}
95% {content: "Des|"}
96% {content: "De|"}
98% {content: "D|"}
100% {content: "|"}
}
.bor{
    color: var(--Second);
    font-size: 10px; 

}
.bor:hover{
    color: var(--Second);
}
.active{
    border-bottom: 1px solid var(--Second);
    padding-bottom: 0px;
    width: 80%;
}
.btntest{
    background-color: var(--frist);
    color: var(--Second);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.btntest:hover{
background-color: var(--Second);
color: black;
}
.btntest1{
    background-color: var(--Second);
    color: var(--frist);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.btntest1:hover{
background-color: black;
color: var(--Second); 
}


.conss{
 position: relative;
}
.conss::after{
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0px;
    bottom: -10px;
    background-image: url(../img/imgs/dots.png);
    background-repeat: repeat;
    z-index: -1;
}
#services{
    background-color: rgb(247, 247, 247);
}
.work{
    background-color: var(--Second);
}
.styeel i{
    width: 50px;
    height: 50px;
    background-color:  var(--Second);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
#services .tost:hover i{
    background-color:var(--frist);
    color: var(--Second);;

   
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
   background-color: transparent;
   border-color: transparent; 
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
border-color: transparent;
}

.oto{
    background-color: var(--Second);
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.act2:hover .oto{
    opacity: 1;
}
.act2 .oto h3{
    margin-bottom: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.act2 .oto .collll{
    margin-top: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.act2:hover .oto h3{
    margin-bottom: 0px;
}
.act2:hover .oto .collll{
    margin-top: 0px;
}
.asdd{
    color: var(--frist);
}
.asdd:hover{

    color: var(--frist);

}
.act2 i{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    cursor: pointer;
}



.act2 i:hover {
    color: var(--Second);
    background-color: black;
}
 
.toooop{
    width: 100px;

}
.carousel-indicators [data-bs-target]{
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.carousel-indicators{

    bottom: -40px;

}
.helll{
    width: 100%;
}

.colllo1{
    background-color: var(--frist) !important;
    color: var(--Second) !important;
}


#work .active{
    border-color: transparent;
}
#end{
    background-color: var(--frist);
    padding-top: 10px;
    padding-bottom: 5px;

}
.colllo1{
    background-color: var(--Second);
}

.lyar1{
       width: 95%;
       height: 95%;
       position: absolute;
       top: 2.5%;
       left: 2.5%;
       background-color: var(--Second);
       opacity: 0;
       transition: all 2s ;
       -webkit-transition: all 2s ;
       -moz-transition: all 2s ;
       -ms-transition: all 2s ;
       -o-transition: all 2s ;
}
#team{
    background-color: rgb(247, 247, 247);

}
.lyar1 i{
    color: var(--Second);
    background-color: var(--frist);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.lyar1 i:hover{
    background-color: var(--Second);
    color: var(--frist);
}
.bart1:hover .lyar1 {
    opacity: 1;
    transform: rotatey(380deg);
    -webkit-transform: rotatey(380deg);
    -moz-transform: rotatey(380deg);
    -ms-transform: rotatey(380deg);
    -o-transform: rotatey(380deg);
    cursor: pointer;
}
.bactext{
    background-image: url(../img/imgs/dots.png);
    width: fit-content;
   
    
}
.con1 i{
    background-color: var(--Second);
    color: var(--frist);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.con1 i:hover{
    color: var(--Second);
    background-color: black;
}
.finn{
    width: 48%;
}
.billl{
    background-color: black;
    color: var(--Second);
}
 
